.App {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown {
  margin: 20px 0;
  color: #00ff8c;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #00ff8c;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}